body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.nody {
  display: flex;
  align-items: center;
  width: 30%;
}

.nodynote {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 16px;
}

.blank {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.online__members {
  width: 15%;
  height: 36px;
  box-sizing: border-box;
  padding: 0 5px;
  /* margin-left: 10px; */
  border-radius: 5px;
  border: solid #555 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #555;
}

.online__popup {
  width: 10%;
  padding: 10px;
  display: block;
  position: absolute;
  z-index: 9999;
  top: 70px;
  right: 11%;
  border-radius: 10px;
  border: black solid 1px;
  background-color: #27272a;
}

.online__popup--off {
  display: none;
}

.online__popup--on {
  display: block;
}

.popupSon {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.popupSonName {
  color: white;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.user-ball2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  margin: 2px 2px;
}

.user-ball2:nth-child(n + 4) {
  display: none;
}

.share_icon_outlayer {
  width: 10%;
  height: 36px;
  margin-left: 30px;
  background-color: #564dff;
  padding: 0 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.material-symbols-outlined {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol__state--off {
  display: none;
}

.symbol__state--on {
  display: flex;
}

.topbar {
  width: 100%;
  padding: 10px;
  background-color: #27272a;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  position: fixed;
}

.title__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  position: relative;
}

#title,
#title__input {
  position: absolute;
  top: 50%;
  left: 30%;
  padding: 5px;
  background-color: #27272a;
  color: white;
  font-size: 26px;
  transform: translateY(-50%);
}

#title {
  white-space: nowrap;
  color: white;
}

.title__state--off {
  display: none;
}

.show_on {
  display: block;
}

label {
  margin-top: 20px;
  display: none;
}

.titleName {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  display: none;
}

.titleName input {
  margin-left: 15px;
}

.mainContent {
  display: flex;
  width: 80%;
  height: 80vh;
  margin: 20px 20px;
  display: none;
}

.attendList {
  width: 20%;
  height: 80vh;
  padding: 2px;
  border: solid 1px black;
  border-left: 0;
}

#note {
  resize: none;
  width: 80%;
  height: 80vh;
}

.function {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  display: none;
}

#save {
  cursor: pointer;
}

.editor-wrapper {
  width: 70%;
  height: calc(100vh - 120px);
  flex: 1;
  display: flex;
  position: relative;
  margin-top: 50px;
  padding-bottom: 10px;
}

#line__numbers {
  width: 4%;
  margin-top: 20px;
  padding: 10px;
}

#editor {
  margin-top: 20px;
  width: 90%;
  padding: 10px;
  flex: 1;
}

#user-status-panel {
  width: 5%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.user-ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin: 2px 2px;
  position: absolute;
  z-index: 2;
}

.block {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  white-space: pre-wrap;
  word-break: break-word;
}

.block:focus {
  outline: none;
}

#line__numbers div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
  font-size: 16px;
}

#line__numbers div.active {
  color: black;
  font-weight: bold;
}

.coverlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.popup {
  /* width: 340px; */
  padding: 15px;
  background-color: white;
  position: fixed;
  top: 15%;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.state--on {
  display: flex;
}

.shared {
  display: inline-block;
}

.topbar__popup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#close {
  background-color: white;
  border: white;
  cursor: pointer;
}

.shareContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shareEmail {
  margin-top: 20px;
  margin-bottom: 20px;
}
