body {
  height: 100vh;
  background-color: #f6c49f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__login {
  width: 50%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.content__login--off {
  display: none;
}

.left {
  width: 50%;
  border-radius: 10px;
  background-color: #00c8b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: black;
  font-size: 50px;
  font-weight: 700;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank {
  width: 95%;
  height: 50px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 60%;
}

.content__input {
  width: 60%;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.mail,
.password {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail-word,
.password-word {
  width: 80%;
  font-weight: 700;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content__input input {
  width: 80%;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px;
}

.content__input input:focus {
  border-bottom: 2px solid #4f46e5;
}

.error {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tester {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#role {
  margin-top: 20px;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  font-size: 20px;
  color: red;
  font-weight: 700;
}

.submit {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit_btn {
  width: 90%;
  padding: 10px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #00c3d0;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#submit_btn:hover {
  background-color: #029da8;
  color: black;
}

.toRegist {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.toRegistWord {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}

.toRegistWord:hover {
  color: black;
}

.content__regist {
  width: 99%;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}
