body {
  background-color: #f6c49f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.narbar {
  width: 80%;
  background-color: #f6c49f;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
}

#back {
  cursor: pointer;
}

.content {
  background-color: #f6c49f;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 710px; */
}

.content__login {
  width: 60%;
  max-height: 100%;
  /* margin: auto auto; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.content__login--off {
  display: none;
}

.left {
  width: 50%;
  border-radius: 10px;
  background-color: #00c8b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: black;
  font-size: 50px;
  font-weight: 700;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank {
  width: 95%;
  height: 50px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 60%;
}

.content__input {
  width: 60%;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.name,
.mail,
.password {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-word,
.mail-word,
.password-word {
  width: 80%;
  font-weight: 700;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content__input input {
  width: 80%;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px;
}

.content__input input:focus {
  border-bottom: 2px solid #4f46e5;
}

.error-login,
.error-regist {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error--off {
  display: none;
}

.tester {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#role {
  margin-top: 20px;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message-login,
.error-message-regist {
  font-size: 20px;
  color: red;
  font-weight: 700;
}

.submit {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit_btn,
#regist_btn {
  width: 90%;
  padding: 10px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #00c3d0;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#submit_btn:hover {
  background-color: #029da8;
  color: black;
}

#regist_btn:hover {
  background-color: #029da8;
  color: black;
}

.toRegist {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.toRegistWord,
.toLoginWord {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}

.toLoginWord:hover {
  color: black;
}

.toRegistWord:hover {
  color: black;
}

.content__regist {
  width: 60%;
  max-height: 100%;
  /* margin: auto auto; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.content__regist--off {
  display: none;
}

.instruction {
  margin-top: 50px;
  margin: 50px auto;
  padding: 10px;
  width: 90%;
  height: 100vh;
  background-color: brown;
  border-radius: 10px;
}

.instruction1 {
  width: 900px;
  height: 850px;
  padding: 10px;
}
