body {
  display: flex;
  background-color: #27272a;
}

.sidebar {
  width: 20%;
  height: 100vh;
  border-right: solid 0.5px rgb(212, 205, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 80%;
  height: 50px;
}

.func {
  width: 80%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newNote {
  width: 100%;
  height: 35px;
  background-color: #564dff;
  border: #564dff solid 0.5px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newNote:hover {
  background-color: #827cf8;
}

.mainContent {
  width: 80%;
  height: 100vh;
}
